.footer__author-copyright {
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: end;
  color: #fff;
}

@media screen and (max-width: 540px) {
  .footer__author-copyright {
    line-height: 14px;
    text-align: start;
    max-width: 186px;
  }
}