.place__web-site_kind_link {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-decoration: underline;
  color: #fff;
  opacity: 1;
  transition: opacity .5s ease-in;
}

.place__web-site_kind_link:hover {
  opacity: .7;
}

/* Дорогой ревьюер! Я поздно понял, что можно не делать эти элементы модификаторами, а просто сделать элементами place'а, но надеюсь, это не ошибка
P.S. Это не просьба о помощи и не вопрос и т.д., так что надеюсь, все законно))) Если что, поправлю, конечно. */