.place {
  margin: 0;
  width: 100%;
  max-width: 984px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: fit-content(460px) minmax(min-content, 484px);
  grid-template-rows: repeat(2, min-content);
  grid-template-areas:
  "title web-site"
  "image description";
  row-gap: 48px;
  column-gap: 40px;
}

@media screen and (max-width: 1024px) {
  .place {
    grid-template-columns: fit-content(440px) minmax(min-content, 456px);
    max-width: 928px;
    column-gap: 32px;
  }
}

@media screen and (max-width: 768px) {
  .place {
    grid-template-columns: fit-content(340px) minmax(min-content, 352px);
    max-width: 720px;
    column-gap: 28px;
  }
}

@media screen and (max-width: 430px) {
  .place {
    grid-template-columns: fit-content(320px);
    grid-template-rows: repeat(4, min-content);
    grid-template-areas:
    "title"
    "web-site"
    "image"
    "description";
    max-width: 320px;
    row-gap: 32px;
  }
}