.place__description {
  grid-area: description;
  display: flex;
  flex-direction: column;
  row-gap: 26px;
}

@media screen and (max-width: 768px) {
  .place__description {
    row-gap: 25px;
  }
}

@media screen and (max-width: 320px) {
  .place__description {
    max-width: 288px;
    width: 100%;
    justify-self: center;
  }
}